* {
    margin: 0;
    padding: 0;
}

#popcat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size:55px;
}

.cat1 {
    width: 650px;
    height: 650px;
}
