* {
    margin: 0;
    padding: 0;
}

body {

}

#popcat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score {
    display: flex;
    text-align: center;
    justify-content: center;
}
